
    
    body {
        background-color: rgb(218, 238, 144);
      }
      
      h1 {
        color: green;
        text-align: center;
      }
      h2 {
        color: green;
        text-align: left;
      }
      p {
        font-family: verdana;
        font-size: 20px;
      }

      #me {
        color: green;
        font: bolder;
        
    }
    
    #meagain {
        color: green;
        font: bolder;
    }